.readblog-div{
    
  
   
}
.img{
display: block;
    margin: 2rem auto;
    height: 30rem;
    width: 40rem;

}
.tittlename{
    text-align: center;
    color: red;
    margin-top: 2rem;
    font-size: 2.5rem;
    
    
}
.headingtittle{
    text-align: center;
    font-size: 2rem;
}
.divsecond{
   
    height: 90vh;
    width: 70vw;
    margin: 1rem auto;
}
.divsecond p{
font-size: 1.3rem;
}